#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #acecff;
}

#copyButton:hover {
    -fx-background-color: #c8f6ff;
}

#copyButton:armed {
    -fx-background-color: #a5dcff;
}

#helpMessageContainer {
    -fx-background-color: derive(#e3fffa, 20%);
}
